<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.CreateTarifaTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputLabel value="#{bundle.CreateTarifaLabel_id}" for="id" />
          <h:inputText id="id" value="#{tarifaController.selected.id}" title="#{bundle.CreateTarifaTitle_id}" required="true" requiredMessage="#{bundle.CreateTarifaRequiredMessage_id}"/>
          <h:outputLabel value="#{bundle.CreateTarifaLabel_tarifa}" for="tarifa" />
          <h:inputText id="tarifa" value="#{tarifaController.selected.tarifa}" title="#{bundle.CreateTarifaTitle_tarifa}" />
          <h:outputLabel value="#{bundle.CreateTarifaLabel_costo}" for="costo" />
          <h:inputText id="costo" value="#{tarifaController.selected.costo}" title="#{bundle.CreateTarifaTitle_costo}" />
        </h:panelGrid>
        <br />
        <h:commandLink action="#{tarifaController.create}" value="#{bundle.CreateTarifaSaveLink}" />
        <br />
        <br />
        <h:commandLink action="#{tarifaController.prepareList}" value="#{bundle.CreateTarifaShowAllLink}" immediate="true"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.CreateTarifaIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
