<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.ListTarifaTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:form styleClass="jsfcrud_list_form">
        <h:panelGroup id="messagePanel" layout="block">
          <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
        </h:panelGroup>
        <h:outputText escape="false" value="#{bundle.ListTarifaEmpty}" rendered="#{tarifaController.items.rowCount == 0}"/>
        <h:panelGroup rendered="#{tarifaController.items.rowCount > 0}">
          <h:outputText value="#{tarifaController.pagination.pageFirstItem + 1}..#{tarifaController.pagination.pageLastItem + 1}/#{tarifaController.pagination.itemsCount}"/>&nbsp;
          <h:commandLink action="#{tarifaController.previous}" value="#{bundle.Previous} #{tarifaController.pagination.pageSize}" rendered="#{tarifaController.pagination.hasPreviousPage}"/>&nbsp;
          <h:commandLink action="#{tarifaController.next}" value="#{bundle.Next} #{tarifaController.pagination.pageSize}" rendered="#{tarifaController.pagination.hasNextPage}"/>&nbsp;
          <h:dataTable value="#{tarifaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListTarifaTitle_id}"/>
              </f:facet>
              <h:outputText value="#{item.id}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListTarifaTitle_tarifa}"/>
              </f:facet>
              <h:outputText value="#{item.tarifa}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListTarifaTitle_costo}"/>
              </f:facet>
              <h:outputText value="#{item.costo}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="&nbsp;"/>
              </f:facet>
              <h:commandLink action="#{tarifaController.prepareView}" value="#{bundle.ListTarifaViewLink}"/>
              <h:outputText value=" "/>
              <h:commandLink action="#{tarifaController.prepareEdit}" value="#{bundle.ListTarifaEditLink}"/>
              <h:outputText value=" "/>
              <h:commandLink action="#{tarifaController.destroy}" value="#{bundle.ListTarifaDestroyLink}"/>
            </h:column>
          </h:dataTable>
        </h:panelGroup>
        <br />
        <h:commandLink action="#{tarifaController.prepareCreate}" value="#{bundle.ListTarifaCreateLink}"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.ListTarifaIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
