<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.ViewTarifaTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputText value="#{bundle.ViewTarifaLabel_id}"/>
          <h:outputText value="#{tarifaController.selected.id}" title="#{bundle.ViewTarifaTitle_id}"/>
          <h:outputText value="#{bundle.ViewTarifaLabel_tarifa}"/>
          <h:outputText value="#{tarifaController.selected.tarifa}" title="#{bundle.ViewTarifaTitle_tarifa}"/>
          <h:outputText value="#{bundle.ViewTarifaLabel_costo}"/>
          <h:outputText value="#{tarifaController.selected.costo}" title="#{bundle.ViewTarifaTitle_costo}"/>
        </h:panelGrid>
        <br />
        <h:commandLink action="#{tarifaController.destroyAndView}" value="#{bundle.ViewTarifaDestroyLink}"/>
        <br />
        <br />
        <h:link outcome="Edit" value="#{bundle.ViewTarifaEditLink}"/>
        <br />
        <h:commandLink action="#{tarifaController.prepareCreate}" value="#{bundle.ViewTarifaCreateLink}" />
        <br />
        <h:commandLink action="#{tarifaController.prepareList}" value="#{bundle.ViewTarifaShowAllLink}"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.ViewTarifaIndexLink}"/>

      </h:form>
    </ui:define>
  </ui:composition>

</html>
