<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.CreateCiudadTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputLabel value="#{bundle.CreateCiudadLabel_id}" for="id" />
          <h:inputText id="id" value="#{ciudadController.selected.id}" title="#{bundle.CreateCiudadTitle_id}" required="true" requiredMessage="#{bundle.CreateCiudadRequiredMessage_id}"/>
          <h:outputLabel value="#{bundle.CreateCiudadLabel_ciudad}" for="ciudad" />
          <h:inputText id="ciudad" value="#{ciudadController.selected.ciudad}" title="#{bundle.CreateCiudadTitle_ciudad}" required="true" requiredMessage="#{bundle.CreateCiudadRequiredMessage_ciudad}"/>
        </h:panelGrid>
        <br />
        <h:commandLink action="#{ciudadController.create}" value="#{bundle.CreateCiudadSaveLink}" />
        <br />
        <br />
        <h:commandLink action="#{ciudadController.prepareList}" value="#{bundle.CreateCiudadShowAllLink}" immediate="true"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.CreateCiudadIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
