<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.EditPaisTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputLabel value="#{bundle.EditPaisLabel_id}" for="id" />
          <h:inputText id="id" value="#{paisController.selected.id}" title="#{bundle.EditPaisTitle_id}" required="true" requiredMessage="#{bundle.EditPaisRequiredMessage_id}"/>
          <h:outputLabel value="#{bundle.EditPaisLabel_iso}" for="iso" />
          <h:inputText id="iso" value="#{paisController.selected.iso}" title="#{bundle.EditPaisTitle_iso}" required="true" requiredMessage="#{bundle.EditPaisRequiredMessage_iso}"/>
          <h:outputLabel value="#{bundle.EditPaisLabel_nombre}" for="nombre" />
          <h:inputText id="nombre" value="#{paisController.selected.nombre}" title="#{bundle.EditPaisTitle_nombre}" required="true" requiredMessage="#{bundle.EditPaisRequiredMessage_nombre}"/>
        </h:panelGrid>
        <h:commandLink action="#{paisController.update}" value="#{bundle.EditPaisSaveLink}"/>
        <br />
        <br />
        <h:link outcome="View" value="#{bundle.EditPaisViewLink}"/>
        <br />
        <h:commandLink action="#{paisController.prepareList}" value="#{bundle.EditPaisShowAllLink}" immediate="true"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.EditPaisIndexLink}" />
      </h:form>
    </ui:define>
  </ui:composition>

</html>
