<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.ListPaisTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:form styleClass="jsfcrud_list_form">
        <h:panelGroup id="messagePanel" layout="block">
          <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
        </h:panelGroup>
        <h:outputText escape="false" value="#{bundle.ListPaisEmpty}" rendered="#{paisController.items.rowCount == 0}"/>
        <h:panelGroup rendered="#{paisController.items.rowCount > 0}">
          <h:outputText value="#{paisController.pagination.pageFirstItem + 1}..#{paisController.pagination.pageLastItem + 1}/#{paisController.pagination.itemsCount}"/>&nbsp;
          <h:commandLink action="#{paisController.previous}" value="#{bundle.Previous} #{paisController.pagination.pageSize}" rendered="#{paisController.pagination.hasPreviousPage}"/>&nbsp;
          <h:commandLink action="#{paisController.next}" value="#{bundle.Next} #{paisController.pagination.pageSize}" rendered="#{paisController.pagination.hasNextPage}"/>&nbsp;
          <h:dataTable value="#{paisController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListPaisTitle_id}"/>
              </f:facet>
              <h:outputText value="#{item.id}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListPaisTitle_iso}"/>
              </f:facet>
              <h:outputText value="#{item.iso}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListPaisTitle_nombre}"/>
              </f:facet>
              <h:outputText value="#{item.nombre}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="&nbsp;"/>
              </f:facet>
              <h:commandLink action="#{paisController.prepareView}" value="#{bundle.ListPaisViewLink}"/>
              <h:outputText value=" "/>
              <h:commandLink action="#{paisController.prepareEdit}" value="#{bundle.ListPaisEditLink}"/>
              <h:outputText value=" "/>
              <h:commandLink action="#{paisController.destroy}" value="#{bundle.ListPaisDestroyLink}"/>
            </h:column>
          </h:dataTable>
        </h:panelGroup>
        <br />
        <h:commandLink action="#{paisController.prepareCreate}" value="#{bundle.ListPaisCreateLink}"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.ListPaisIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
