<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.CreateEstadoVuelosTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputLabel value="#{bundle.CreateEstadoVuelosLabel_id}" for="id" />
          <h:inputText id="id" value="#{estadoVuelosController.selected.id}" title="#{bundle.CreateEstadoVuelosTitle_id}" required="true" requiredMessage="#{bundle.CreateEstadoVuelosRequiredMessage_id}"/>
          <h:outputLabel value="#{bundle.CreateEstadoVuelosLabel_estado}" for="estado" />
          <h:inputText id="estado" value="#{estadoVuelosController.selected.estado}" title="#{bundle.CreateEstadoVuelosTitle_estado}" required="true" requiredMessage="#{bundle.CreateEstadoVuelosRequiredMessage_estado}"/>
        </h:panelGrid>
        <br />
        <h:commandLink action="#{estadoVuelosController.create}" value="#{bundle.CreateEstadoVuelosSaveLink}" />
        <br />
        <br />
        <h:commandLink action="#{estadoVuelosController.prepareList}" value="#{bundle.CreateEstadoVuelosShowAllLink}" immediate="true"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.CreateEstadoVuelosIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
