<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.ListEstadoVuelosTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:form styleClass="jsfcrud_list_form">
        <h:panelGroup id="messagePanel" layout="block">
          <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
        </h:panelGroup>
        <h:outputText escape="false" value="#{bundle.ListEstadoVuelosEmpty}" rendered="#{estadoVuelosController.items.rowCount == 0}"/>
        <h:panelGroup rendered="#{estadoVuelosController.items.rowCount > 0}">
          <h:outputText value="#{estadoVuelosController.pagination.pageFirstItem + 1}..#{estadoVuelosController.pagination.pageLastItem + 1}/#{estadoVuelosController.pagination.itemsCount}"/>&nbsp;
          <h:commandLink action="#{estadoVuelosController.previous}" value="#{bundle.Previous} #{estadoVuelosController.pagination.pageSize}" rendered="#{estadoVuelosController.pagination.hasPreviousPage}"/>&nbsp;
          <h:commandLink action="#{estadoVuelosController.next}" value="#{bundle.Next} #{estadoVuelosController.pagination.pageSize}" rendered="#{estadoVuelosController.pagination.hasNextPage}"/>&nbsp;
          <h:dataTable value="#{estadoVuelosController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListEstadoVuelosTitle_id}"/>
              </f:facet>
              <h:outputText value="#{item.id}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListEstadoVuelosTitle_estado}"/>
              </f:facet>
              <h:outputText value="#{item.estado}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="&nbsp;"/>
              </f:facet>
              <h:commandLink action="#{estadoVuelosController.prepareView}" value="#{bundle.ListEstadoVuelosViewLink}"/>
              <h:outputText value=" "/>
              <h:commandLink action="#{estadoVuelosController.prepareEdit}" value="#{bundle.ListEstadoVuelosEditLink}"/>
              <h:outputText value=" "/>
              <h:commandLink action="#{estadoVuelosController.destroy}" value="#{bundle.ListEstadoVuelosDestroyLink}"/>
            </h:column>
          </h:dataTable>
        </h:panelGroup>
        <br />
        <h:commandLink action="#{estadoVuelosController.prepareCreate}" value="#{bundle.ListEstadoVuelosCreateLink}"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.ListEstadoVuelosIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
