<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.ViewEstadoVuelosTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputText value="#{bundle.ViewEstadoVuelosLabel_id}"/>
          <h:outputText value="#{estadoVuelosController.selected.id}" title="#{bundle.ViewEstadoVuelosTitle_id}"/>
          <h:outputText value="#{bundle.ViewEstadoVuelosLabel_estado}"/>
          <h:outputText value="#{estadoVuelosController.selected.estado}" title="#{bundle.ViewEstadoVuelosTitle_estado}"/>
        </h:panelGrid>
        <br />
        <h:commandLink action="#{estadoVuelosController.destroyAndView}" value="#{bundle.ViewEstadoVuelosDestroyLink}"/>
        <br />
        <br />
        <h:link outcome="Edit" value="#{bundle.ViewEstadoVuelosEditLink}"/>
        <br />
        <h:commandLink action="#{estadoVuelosController.prepareCreate}" value="#{bundle.ViewEstadoVuelosCreateLink}" />
        <br />
        <h:commandLink action="#{estadoVuelosController.prepareList}" value="#{bundle.ViewEstadoVuelosShowAllLink}"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.ViewEstadoVuelosIndexLink}"/>

      </h:form>
    </ui:define>
  </ui:composition>

</html>
