<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.CreateTipoDocumentoTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputLabel value="#{bundle.CreateTipoDocumentoLabel_id}" for="id" />
          <h:inputText id="id" value="#{tipoDocumentoController.selected.id}" title="#{bundle.CreateTipoDocumentoTitle_id}" required="true" requiredMessage="#{bundle.CreateTipoDocumentoRequiredMessage_id}"/>
          <h:outputLabel value="#{bundle.CreateTipoDocumentoLabel_tipoDocumento}" for="tipoDocumento" />
          <h:inputText id="tipoDocumento" value="#{tipoDocumentoController.selected.tipoDocumento}" title="#{bundle.CreateTipoDocumentoTitle_tipoDocumento}" required="true" requiredMessage="#{bundle.CreateTipoDocumentoRequiredMessage_tipoDocumento}"/>
        </h:panelGrid>
        <br />
        <h:commandLink action="#{tipoDocumentoController.create}" value="#{bundle.CreateTipoDocumentoSaveLink}" />
        <br />
        <br />
        <h:commandLink action="#{tipoDocumentoController.prepareList}" value="#{bundle.CreateTipoDocumentoShowAllLink}" immediate="true"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.CreateTipoDocumentoIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
