<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.ViewTipoDocumentoTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputText value="#{bundle.ViewTipoDocumentoLabel_id}"/>
          <h:outputText value="#{tipoDocumentoController.selected.id}" title="#{bundle.ViewTipoDocumentoTitle_id}"/>
          <h:outputText value="#{bundle.ViewTipoDocumentoLabel_tipoDocumento}"/>
          <h:outputText value="#{tipoDocumentoController.selected.tipoDocumento}" title="#{bundle.ViewTipoDocumentoTitle_tipoDocumento}"/>
        </h:panelGrid>
        <br />
        <h:commandLink action="#{tipoDocumentoController.destroyAndView}" value="#{bundle.ViewTipoDocumentoDestroyLink}"/>
        <br />
        <br />
        <h:link outcome="Edit" value="#{bundle.ViewTipoDocumentoEditLink}"/>
        <br />
        <h:commandLink action="#{tipoDocumentoController.prepareCreate}" value="#{bundle.ViewTipoDocumentoCreateLink}" />
        <br />
        <h:commandLink action="#{tipoDocumentoController.prepareList}" value="#{bundle.ViewTipoDocumentoShowAllLink}"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.ViewTipoDocumentoIndexLink}"/>

      </h:form>
    </ui:define>
  </ui:composition>

</html>
