<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.CreateVueloTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputLabel value="#{bundle.CreateVueloLabel_vueloPK_nroRef}" for="vueloPK_nroRef" />
          <h:inputText id="vueloPK_nroRef" value="#{vueloController.selected.vueloPK.nroRef}" title="#{bundle.CreateVueloTitle_vueloPK_nroRef}" required="true" requiredMessage="#{bundle.CreateVueloRequiredMessage_vueloPK_nroRef}"/>
          <h:outputLabel value="#{bundle.CreateVueloLabel_horarioSalida}" for="horarioSalida" />
          <h:inputText id="horarioSalida" value="#{vueloController.selected.horarioSalida}" title="#{bundle.CreateVueloTitle_horarioSalida}" required="true" requiredMessage="#{bundle.CreateVueloRequiredMessage_horarioSalida}">
            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
          </h:inputText>
          <h:outputLabel value="#{bundle.CreateVueloLabel_nroAsientos}" for="nroAsientos" />
          <h:inputText id="nroAsientos" value="#{vueloController.selected.nroAsientos}" title="#{bundle.CreateVueloTitle_nroAsientos}" required="true" requiredMessage="#{bundle.CreateVueloRequiredMessage_nroAsientos}"/>
          <h:outputLabel value="#{bundle.CreateVueloLabel_refAvion}" for="refAvion" />
          <h:inputText id="refAvion" value="#{vueloController.selected.refAvion}" title="#{bundle.CreateVueloTitle_refAvion}" />
          <h:outputLabel value="#{bundle.CreateVueloLabel_aerolineaId}" for="aerolineaId" />
          <h:selectOneMenu id="aerolineaId" value="#{vueloController.selected.aerolineaId}" title="#{bundle.CreateVueloTitle_aerolineaId}" required="true" requiredMessage="#{bundle.CreateVueloRequiredMessage_aerolineaId}">
            <f:selectItems value="#{aerolineaController.itemsAvailableSelectOne}"/>
          </h:selectOneMenu>
          <h:outputLabel value="#{bundle.CreateVueloLabel_ciudad}" for="ciudad" />
          <h:selectOneMenu id="ciudad" value="#{vueloController.selected.ciudad}" title="#{bundle.CreateVueloTitle_ciudad}" required="true" requiredMessage="#{bundle.CreateVueloRequiredMessage_ciudad}">
            <f:selectItems value="#{ciudadController.itemsAvailableSelectOne}"/>
          </h:selectOneMenu>
          <h:outputLabel value="#{bundle.CreateVueloLabel_ciudad1}" for="ciudad1" />
          <h:selectOneMenu id="ciudad1" value="#{vueloController.selected.ciudad1}" title="#{bundle.CreateVueloTitle_ciudad1}" required="true" requiredMessage="#{bundle.CreateVueloRequiredMessage_ciudad1}">
            <f:selectItems value="#{ciudadController.itemsAvailableSelectOne}"/>
          </h:selectOneMenu>
        </h:panelGrid>
        <br />
        <h:commandLink action="#{vueloController.create}" value="#{bundle.CreateVueloSaveLink}" />
        <br />
        <br />
        <h:commandLink action="#{vueloController.prepareList}" value="#{bundle.CreateVueloShowAllLink}" immediate="true"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.CreateVueloIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
