<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.ListVueloTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:form styleClass="jsfcrud_list_form">
        <h:panelGroup id="messagePanel" layout="block">
          <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
        </h:panelGroup>
        <h:outputText escape="false" value="#{bundle.ListVueloEmpty}" rendered="#{vueloController.items.rowCount == 0}"/>
        <h:panelGroup rendered="#{vueloController.items.rowCount > 0}">
          <h:outputText value="#{vueloController.pagination.pageFirstItem + 1}..#{vueloController.pagination.pageLastItem + 1}/#{vueloController.pagination.itemsCount}"/>&nbsp;
          <h:commandLink action="#{vueloController.previous}" value="#{bundle.Previous} #{vueloController.pagination.pageSize}" rendered="#{vueloController.pagination.hasPreviousPage}"/>&nbsp;
          <h:commandLink action="#{vueloController.next}" value="#{bundle.Next} #{vueloController.pagination.pageSize}" rendered="#{vueloController.pagination.hasNextPage}"/>&nbsp;
          <h:dataTable value="#{vueloController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListVueloTitle_vueloPK_nroRef}"/>
              </f:facet>
              <h:outputText value="#{item.vueloPK.nroRef}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListVueloTitle_horarioSalida}"/>
              </f:facet>
              <h:outputText value="#{item.horarioSalida}">
                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
              </h:outputText>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListVueloTitle_nroAsientos}"/>
              </f:facet>
              <h:outputText value="#{item.nroAsientos}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListVueloTitle_refAvion}"/>
              </f:facet>
              <h:outputText value="#{item.refAvion}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListVueloTitle_aerolineaId}"/>
              </f:facet>
              <h:outputText value="#{item.aerolineaId}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListVueloTitle_ciudad}"/>
              </f:facet>
              <h:outputText value="#{item.ciudad}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListVueloTitle_ciudad1}"/>
              </f:facet>
              <h:outputText value="#{item.ciudad1}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="&nbsp;"/>
              </f:facet>
              <h:commandLink action="#{vueloController.prepareView}" value="#{bundle.ListVueloViewLink}"/>
              <h:outputText value=" "/>
              <h:commandLink action="#{vueloController.prepareEdit}" value="#{bundle.ListVueloEditLink}"/>
              <h:outputText value=" "/>
              <h:commandLink action="#{vueloController.destroy}" value="#{bundle.ListVueloDestroyLink}"/>
            </h:column>
          </h:dataTable>
        </h:panelGroup>
        <br />
        <h:commandLink action="#{vueloController.prepareCreate}" value="#{bundle.ListVueloCreateLink}"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.ListVueloIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
