<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.ViewVueloTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputText value="#{bundle.ViewVueloLabel_vueloPK_nroRef}"/>
          <h:outputText value="#{vueloController.selected.vueloPK.nroRef}" title="#{bundle.ViewVueloTitle_vueloPK_nroRef}"/>
          <h:outputText value="#{bundle.ViewVueloLabel_horarioSalida}"/>
          <h:outputText value="#{vueloController.selected.horarioSalida}" title="#{bundle.ViewVueloTitle_horarioSalida}">
            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
          </h:outputText>
          <h:outputText value="#{bundle.ViewVueloLabel_nroAsientos}"/>
          <h:outputText value="#{vueloController.selected.nroAsientos}" title="#{bundle.ViewVueloTitle_nroAsientos}"/>
          <h:outputText value="#{bundle.ViewVueloLabel_refAvion}"/>
          <h:outputText value="#{vueloController.selected.refAvion}" title="#{bundle.ViewVueloTitle_refAvion}"/>
          <h:outputText value="#{bundle.ViewVueloLabel_aerolineaId}"/>
          <h:outputText value="#{vueloController.selected.aerolineaId}" title="#{bundle.ViewVueloTitle_aerolineaId}"/>
          <h:outputText value="#{bundle.ViewVueloLabel_ciudad}"/>
          <h:outputText value="#{vueloController.selected.ciudad}" title="#{bundle.ViewVueloTitle_ciudad}"/>
          <h:outputText value="#{bundle.ViewVueloLabel_ciudad1}"/>
          <h:outputText value="#{vueloController.selected.ciudad1}" title="#{bundle.ViewVueloTitle_ciudad1}"/>
        </h:panelGrid>
        <br />
        <h:commandLink action="#{vueloController.destroyAndView}" value="#{bundle.ViewVueloDestroyLink}"/>
        <br />
        <br />
        <h:link outcome="Edit" value="#{bundle.ViewVueloEditLink}"/>
        <br />
        <h:commandLink action="#{vueloController.prepareCreate}" value="#{bundle.ViewVueloCreateLink}" />
        <br />
        <h:commandLink action="#{vueloController.prepareList}" value="#{bundle.ViewVueloShowAllLink}"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.ViewVueloIndexLink}"/>

      </h:form>
    </ui:define>
  </ui:composition>

</html>
