<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.EditAerolineaTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputLabel value="#{bundle.EditAerolineaLabel_id}" for="id" />
          <h:inputText id="id" value="#{aerolineaController.selected.id}" title="#{bundle.EditAerolineaTitle_id}" required="true" requiredMessage="#{bundle.EditAerolineaRequiredMessage_id}"/>
          <h:outputLabel value="#{bundle.EditAerolineaLabel_nombre}" for="nombre" />
          <h:inputText id="nombre" value="#{aerolineaController.selected.nombre}" title="#{bundle.EditAerolineaTitle_nombre}" required="true" requiredMessage="#{bundle.EditAerolineaRequiredMessage_nombre}"/>
          <h:outputLabel value="#{bundle.EditAerolineaLabel_descripcion}" for="descripcion" />
          <h:inputText id="descripcion" value="#{aerolineaController.selected.descripcion}" title="#{bundle.EditAerolineaTitle_descripcion}" />
        </h:panelGrid>
        <h:commandLink action="#{aerolineaController.update}" value="#{bundle.EditAerolineaSaveLink}"/>
        <br />
        <br />
        <h:link outcome="View" value="#{bundle.EditAerolineaViewLink}"/>
        <br />
        <h:commandLink action="#{aerolineaController.prepareList}" value="#{bundle.EditAerolineaShowAllLink}" immediate="true"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.EditAerolineaIndexLink}" />
      </h:form>
    </ui:define>
  </ui:composition>

</html>
