<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.ListAerolineaTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:form styleClass="jsfcrud_list_form">
        <h:panelGroup id="messagePanel" layout="block">
          <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
        </h:panelGroup>
        <h:outputText escape="false" value="#{bundle.ListAerolineaEmpty}" rendered="#{aerolineaController.items.rowCount == 0}"/>
        <h:panelGroup rendered="#{aerolineaController.items.rowCount > 0}">
          <h:outputText value="#{aerolineaController.pagination.pageFirstItem + 1}..#{aerolineaController.pagination.pageLastItem + 1}/#{aerolineaController.pagination.itemsCount}"/>&nbsp;
          <h:commandLink action="#{aerolineaController.previous}" value="#{bundle.Previous} #{aerolineaController.pagination.pageSize}" rendered="#{aerolineaController.pagination.hasPreviousPage}"/>&nbsp;
          <h:commandLink action="#{aerolineaController.next}" value="#{bundle.Next} #{aerolineaController.pagination.pageSize}" rendered="#{aerolineaController.pagination.hasNextPage}"/>&nbsp;
          <h:dataTable value="#{aerolineaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListAerolineaTitle_id}"/>
              </f:facet>
              <h:outputText value="#{item.id}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListAerolineaTitle_nombre}"/>
              </f:facet>
              <h:outputText value="#{item.nombre}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListAerolineaTitle_descripcion}"/>
              </f:facet>
              <h:outputText value="#{item.descripcion}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="&nbsp;"/>
              </f:facet>
              <h:commandLink action="#{aerolineaController.prepareView}" value="#{bundle.ListAerolineaViewLink}"/>
              <h:outputText value=" "/>
              <h:commandLink action="#{aerolineaController.prepareEdit}" value="#{bundle.ListAerolineaEditLink}"/>
              <h:outputText value=" "/>
              <h:commandLink action="#{aerolineaController.destroy}" value="#{bundle.ListAerolineaDestroyLink}"/>
            </h:column>
          </h:dataTable>
        </h:panelGroup>
        <br />
        <h:commandLink action="#{aerolineaController.prepareCreate}" value="#{bundle.ListAerolineaCreateLink}"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.ListAerolineaIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
