<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.ViewAerolineaTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputText value="#{bundle.ViewAerolineaLabel_id}"/>
          <h:outputText value="#{aerolineaController.selected.id}" title="#{bundle.ViewAerolineaTitle_id}"/>
          <h:outputText value="#{bundle.ViewAerolineaLabel_nombre}"/>
          <h:outputText value="#{aerolineaController.selected.nombre}" title="#{bundle.ViewAerolineaTitle_nombre}"/>
          <h:outputText value="#{bundle.ViewAerolineaLabel_descripcion}"/>
          <h:outputText value="#{aerolineaController.selected.descripcion}" title="#{bundle.ViewAerolineaTitle_descripcion}"/>
        </h:panelGrid>
        <br />
        <h:commandLink action="#{aerolineaController.destroyAndView}" value="#{bundle.ViewAerolineaDestroyLink}"/>
        <br />
        <br />
        <h:link outcome="Edit" value="#{bundle.ViewAerolineaEditLink}"/>
        <br />
        <h:commandLink action="#{aerolineaController.prepareCreate}" value="#{bundle.ViewAerolineaCreateLink}" />
        <br />
        <h:commandLink action="#{aerolineaController.prepareList}" value="#{bundle.ViewAerolineaShowAllLink}"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.ViewAerolineaIndexLink}"/>

      </h:form>
    </ui:define>
  </ui:composition>

</html>
