<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.CreateUsuarioTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputLabel value="#{bundle.CreateUsuarioLabel_id}" for="id" />
          <h:inputText id="id" value="#{usuarioController.selected.id}" title="#{bundle.CreateUsuarioTitle_id}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_id}"/>
          <h:outputLabel value="#{bundle.CreateUsuarioLabel_nroDocumento}" for="nroDocumento" />
          <h:inputText id="nroDocumento" value="#{usuarioController.selected.nroDocumento}" title="#{bundle.CreateUsuarioTitle_nroDocumento}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_nroDocumento}"/>
          <h:outputLabel value="#{bundle.CreateUsuarioLabel_fechaNacimiento}" for="fechaNacimiento" />
          <h:inputText id="fechaNacimiento" value="#{usuarioController.selected.fechaNacimiento}" title="#{bundle.CreateUsuarioTitle_fechaNacimiento}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_fechaNacimiento}">
            <f:convertDateTime pattern="MM/dd/yyyy" />
          </h:inputText>
          <h:outputLabel value="#{bundle.CreateUsuarioLabel_primerNombre}" for="primerNombre" />
          <h:inputText id="primerNombre" value="#{usuarioController.selected.primerNombre}" title="#{bundle.CreateUsuarioTitle_primerNombre}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_primerNombre}"/>
          <h:outputLabel value="#{bundle.CreateUsuarioLabel_segundoNombre}" for="segundoNombre" />
          <h:inputText id="segundoNombre" value="#{usuarioController.selected.segundoNombre}" title="#{bundle.CreateUsuarioTitle_segundoNombre}" />
          <h:outputLabel value="#{bundle.CreateUsuarioLabel_primerApellido}" for="primerApellido" />
          <h:inputText id="primerApellido" value="#{usuarioController.selected.primerApellido}" title="#{bundle.CreateUsuarioTitle_primerApellido}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_primerApellido}"/>
          <h:outputLabel value="#{bundle.CreateUsuarioLabel_segundoApellido}" for="segundoApellido" />
          <h:inputText id="segundoApellido" value="#{usuarioController.selected.segundoApellido}" title="#{bundle.CreateUsuarioTitle_segundoApellido}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_segundoApellido}"/>
          <h:outputLabel value="#{bundle.CreateUsuarioLabel_email}" for="email" />
          <h:inputText id="email" value="#{usuarioController.selected.email}" title="#{bundle.CreateUsuarioTitle_email}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_email}"/>
          <h:outputLabel value="#{bundle.CreateUsuarioLabel_password}" for="password" />
          <h:inputText id="password" value="#{usuarioController.selected.password}" title="#{bundle.CreateUsuarioTitle_password}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_password}"/>
          <h:outputLabel value="#{bundle.CreateUsuarioLabel_tipoDocumentoId}" for="tipoDocumentoId" />
          <h:selectOneMenu id="tipoDocumentoId" value="#{usuarioController.selected.tipoDocumentoId}" title="#{bundle.CreateUsuarioTitle_tipoDocumentoId}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_tipoDocumentoId}">
            <f:selectItems value="#{tipoDocumentoController.itemsAvailableSelectOne}"/>
          </h:selectOneMenu>
        </h:panelGrid>
        <br />
        <h:commandLink action="#{usuarioController.create}" value="#{bundle.CreateUsuarioSaveLink}" />
        <br />
        <br />
        <h:commandLink action="#{usuarioController.prepareList}" value="#{bundle.CreateUsuarioShowAllLink}" immediate="true"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.CreateUsuarioIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
