<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.EditUsuarioTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputLabel value="#{bundle.EditUsuarioLabel_id}" for="id" />
          <h:inputText id="id" value="#{usuarioController.selected.id}" title="#{bundle.EditUsuarioTitle_id}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_id}"/>
          <h:outputLabel value="#{bundle.EditUsuarioLabel_nroDocumento}" for="nroDocumento" />
          <h:inputText id="nroDocumento" value="#{usuarioController.selected.nroDocumento}" title="#{bundle.EditUsuarioTitle_nroDocumento}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_nroDocumento}"/>
          <h:outputLabel value="#{bundle.EditUsuarioLabel_fechaNacimiento}" for="fechaNacimiento" />
          <h:inputText id="fechaNacimiento" value="#{usuarioController.selected.fechaNacimiento}" title="#{bundle.EditUsuarioTitle_fechaNacimiento}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_fechaNacimiento}">
            <f:convertDateTime pattern="MM/dd/yyyy" />
          </h:inputText>
          <h:outputLabel value="#{bundle.EditUsuarioLabel_primerNombre}" for="primerNombre" />
          <h:inputText id="primerNombre" value="#{usuarioController.selected.primerNombre}" title="#{bundle.EditUsuarioTitle_primerNombre}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_primerNombre}"/>
          <h:outputLabel value="#{bundle.EditUsuarioLabel_segundoNombre}" for="segundoNombre" />
          <h:inputText id="segundoNombre" value="#{usuarioController.selected.segundoNombre}" title="#{bundle.EditUsuarioTitle_segundoNombre}" />
          <h:outputLabel value="#{bundle.EditUsuarioLabel_primerApellido}" for="primerApellido" />
          <h:inputText id="primerApellido" value="#{usuarioController.selected.primerApellido}" title="#{bundle.EditUsuarioTitle_primerApellido}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_primerApellido}"/>
          <h:outputLabel value="#{bundle.EditUsuarioLabel_segundoApellido}" for="segundoApellido" />
          <h:inputText id="segundoApellido" value="#{usuarioController.selected.segundoApellido}" title="#{bundle.EditUsuarioTitle_segundoApellido}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_segundoApellido}"/>
          <h:outputLabel value="#{bundle.EditUsuarioLabel_email}" for="email" />
          <h:inputText id="email" value="#{usuarioController.selected.email}" title="#{bundle.EditUsuarioTitle_email}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_email}"/>
          <h:outputLabel value="#{bundle.EditUsuarioLabel_password}" for="password" />
          <h:inputText id="password" value="#{usuarioController.selected.password}" title="#{bundle.EditUsuarioTitle_password}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_password}"/>
          <h:outputLabel value="#{bundle.EditUsuarioLabel_tipoDocumentoId}" for="tipoDocumentoId" />
          <h:selectOneMenu id="tipoDocumentoId" value="#{usuarioController.selected.tipoDocumentoId}" title="#{bundle.EditUsuarioTitle_tipoDocumentoId}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_tipoDocumentoId}">
            <f:selectItems value="#{tipoDocumentoController.itemsAvailableSelectOne}"/>
          </h:selectOneMenu>
        </h:panelGrid>
        <h:commandLink action="#{usuarioController.update}" value="#{bundle.EditUsuarioSaveLink}"/>
        <br />
        <br />
        <h:link outcome="View" value="#{bundle.EditUsuarioViewLink}"/>
        <br />
        <h:commandLink action="#{usuarioController.prepareList}" value="#{bundle.EditUsuarioShowAllLink}" immediate="true"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.EditUsuarioIndexLink}" />
      </h:form>
    </ui:define>
  </ui:composition>

</html>
