<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.CreateReservaTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputLabel value="#{bundle.CreateReservaLabel_reservaPK_id}" for="reservaPK_id" />
          <h:inputText id="reservaPK_id" value="#{reservaController.selected.reservaPK.id}" title="#{bundle.CreateReservaTitle_reservaPK_id}" required="true" requiredMessage="#{bundle.CreateReservaRequiredMessage_reservaPK_id}"/>
          <h:outputLabel value="#{bundle.CreateReservaLabel_reservaPK_fecha}" for="reservaPK_fecha" />
          <h:inputText id="reservaPK_fecha" value="#{reservaController.selected.reservaPK.fecha}" title="#{bundle.CreateReservaTitle_reservaPK_fecha}" required="true" requiredMessage="#{bundle.CreateReservaRequiredMessage_reservaPK_fecha}">
            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
          </h:inputText>
          <h:outputLabel value="#{bundle.CreateReservaLabel_efectuada}" for="efectuada" />
          <h:inputText id="efectuada" value="#{reservaController.selected.efectuada}" title="#{bundle.CreateReservaTitle_efectuada}" required="true" requiredMessage="#{bundle.CreateReservaRequiredMessage_efectuada}"/>
          <h:outputLabel value="#{bundle.CreateReservaLabel_usuarioId}" for="usuarioId" />
          <h:selectOneMenu id="usuarioId" value="#{reservaController.selected.usuarioId}" title="#{bundle.CreateReservaTitle_usuarioId}" required="true" requiredMessage="#{bundle.CreateReservaRequiredMessage_usuarioId}">
            <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
          </h:selectOneMenu>
          <h:outputLabel value="#{bundle.CreateReservaLabel_vueloNroRef}" for="vueloNroRef" />
          <h:selectOneMenu id="vueloNroRef" value="#{reservaController.selected.vueloNroRef}" title="#{bundle.CreateReservaTitle_vueloNroRef}" required="true" requiredMessage="#{bundle.CreateReservaRequiredMessage_vueloNroRef}">
            <f:selectItems value="#{vueloController.itemsAvailableSelectOne}"/>
          </h:selectOneMenu>
        </h:panelGrid>
        <br />
        <h:commandLink action="#{reservaController.create}" value="#{bundle.CreateReservaSaveLink}" />
        <br />
        <br />
        <h:commandLink action="#{reservaController.prepareList}" value="#{bundle.CreateReservaShowAllLink}" immediate="true"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.CreateReservaIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
