<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.ListReservaTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:form styleClass="jsfcrud_list_form">
        <h:panelGroup id="messagePanel" layout="block">
          <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
        </h:panelGroup>
        <h:outputText escape="false" value="#{bundle.ListReservaEmpty}" rendered="#{reservaController.items.rowCount == 0}"/>
        <h:panelGroup rendered="#{reservaController.items.rowCount > 0}">
          <h:outputText value="#{reservaController.pagination.pageFirstItem + 1}..#{reservaController.pagination.pageLastItem + 1}/#{reservaController.pagination.itemsCount}"/>&nbsp;
          <h:commandLink action="#{reservaController.previous}" value="#{bundle.Previous} #{reservaController.pagination.pageSize}" rendered="#{reservaController.pagination.hasPreviousPage}"/>&nbsp;
          <h:commandLink action="#{reservaController.next}" value="#{bundle.Next} #{reservaController.pagination.pageSize}" rendered="#{reservaController.pagination.hasNextPage}"/>&nbsp;
          <h:dataTable value="#{reservaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListReservaTitle_reservaPK_id}"/>
              </f:facet>
              <h:outputText value="#{item.reservaPK.id}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListReservaTitle_reservaPK_fecha}"/>
              </f:facet>
              <h:outputText value="#{item.reservaPK.fecha}">
                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
              </h:outputText>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListReservaTitle_efectuada}"/>
              </f:facet>
              <h:outputText value="#{item.efectuada}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListReservaTitle_usuarioId}"/>
              </f:facet>
              <h:outputText value="#{item.usuarioId}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListReservaTitle_vueloNroRef}"/>
              </f:facet>
              <h:outputText value="#{item.vueloNroRef}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="&nbsp;"/>
              </f:facet>
              <h:commandLink action="#{reservaController.prepareView}" value="#{bundle.ListReservaViewLink}"/>
              <h:outputText value=" "/>
              <h:commandLink action="#{reservaController.prepareEdit}" value="#{bundle.ListReservaEditLink}"/>
              <h:outputText value=" "/>
              <h:commandLink action="#{reservaController.destroy}" value="#{bundle.ListReservaDestroyLink}"/>
            </h:column>
          </h:dataTable>
        </h:panelGroup>
        <br />
        <h:commandLink action="#{reservaController.prepareCreate}" value="#{bundle.ListReservaCreateLink}"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.ListReservaIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
