<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.ViewReservaTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputText value="#{bundle.ViewReservaLabel_reservaPK_id}"/>
          <h:outputText value="#{reservaController.selected.reservaPK.id}" title="#{bundle.ViewReservaTitle_reservaPK_id}"/>
          <h:outputText value="#{bundle.ViewReservaLabel_reservaPK_fecha}"/>
          <h:outputText value="#{reservaController.selected.reservaPK.fecha}" title="#{bundle.ViewReservaTitle_reservaPK_fecha}">
            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
          </h:outputText>
          <h:outputText value="#{bundle.ViewReservaLabel_efectuada}"/>
          <h:outputText value="#{reservaController.selected.efectuada}" title="#{bundle.ViewReservaTitle_efectuada}"/>
          <h:outputText value="#{bundle.ViewReservaLabel_usuarioId}"/>
          <h:outputText value="#{reservaController.selected.usuarioId}" title="#{bundle.ViewReservaTitle_usuarioId}"/>
          <h:outputText value="#{bundle.ViewReservaLabel_vueloNroRef}"/>
          <h:outputText value="#{reservaController.selected.vueloNroRef}" title="#{bundle.ViewReservaTitle_vueloNroRef}"/>
        </h:panelGrid>
        <br />
        <h:commandLink action="#{reservaController.destroyAndView}" value="#{bundle.ViewReservaDestroyLink}"/>
        <br />
        <br />
        <h:link outcome="Edit" value="#{bundle.ViewReservaEditLink}"/>
        <br />
        <h:commandLink action="#{reservaController.prepareCreate}" value="#{bundle.ViewReservaCreateLink}" />
        <br />
        <h:commandLink action="#{reservaController.prepareList}" value="#{bundle.ViewReservaShowAllLink}"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.ViewReservaIndexLink}"/>

      </h:form>
    </ui:define>
  </ui:composition>

</html>
