<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.CreateVueloHasEstadoVuelosTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputLabel value="#{bundle.CreateVueloHasEstadoVuelosLabel_id}" for="id" />
          <h:inputText id="id" value="#{vueloHasEstadoVuelosController.selected.id}" title="#{bundle.CreateVueloHasEstadoVuelosTitle_id}" required="true" requiredMessage="#{bundle.CreateVueloHasEstadoVuelosRequiredMessage_id}"/>
          <h:outputLabel value="#{bundle.CreateVueloHasEstadoVuelosLabel_tiempo}" for="tiempo" />
          <h:inputText id="tiempo" value="#{vueloHasEstadoVuelosController.selected.tiempo}" title="#{bundle.CreateVueloHasEstadoVuelosTitle_tiempo}" required="true" requiredMessage="#{bundle.CreateVueloHasEstadoVuelosRequiredMessage_tiempo}">
            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
          </h:inputText>
          <h:outputLabel value="#{bundle.CreateVueloHasEstadoVuelosLabel_estadoVuelosId}" for="estadoVuelosId" />
          <h:selectOneMenu id="estadoVuelosId" value="#{vueloHasEstadoVuelosController.selected.estadoVuelosId}" title="#{bundle.CreateVueloHasEstadoVuelosTitle_estadoVuelosId}" required="true" requiredMessage="#{bundle.CreateVueloHasEstadoVuelosRequiredMessage_estadoVuelosId}">
            <f:selectItems value="#{estadoVuelosController.itemsAvailableSelectOne}"/>
          </h:selectOneMenu>
          <h:outputLabel value="#{bundle.CreateVueloHasEstadoVuelosLabel_vueloNroRef}" for="vueloNroRef" />
          <h:selectOneMenu id="vueloNroRef" value="#{vueloHasEstadoVuelosController.selected.vueloNroRef}" title="#{bundle.CreateVueloHasEstadoVuelosTitle_vueloNroRef}" required="true" requiredMessage="#{bundle.CreateVueloHasEstadoVuelosRequiredMessage_vueloNroRef}">
            <f:selectItems value="#{vueloController.itemsAvailableSelectOne}"/>
          </h:selectOneMenu>
        </h:panelGrid>
        <br />
        <h:commandLink action="#{vueloHasEstadoVuelosController.create}" value="#{bundle.CreateVueloHasEstadoVuelosSaveLink}" />
        <br />
        <br />
        <h:commandLink action="#{vueloHasEstadoVuelosController.prepareList}" value="#{bundle.CreateVueloHasEstadoVuelosShowAllLink}" immediate="true"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.CreateVueloHasEstadoVuelosIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
