<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.ListVueloHasEstadoVuelosTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:form styleClass="jsfcrud_list_form">
        <h:panelGroup id="messagePanel" layout="block">
          <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
        </h:panelGroup>
        <h:outputText escape="false" value="#{bundle.ListVueloHasEstadoVuelosEmpty}" rendered="#{vueloHasEstadoVuelosController.items.rowCount == 0}"/>
        <h:panelGroup rendered="#{vueloHasEstadoVuelosController.items.rowCount > 0}">
          <h:outputText value="#{vueloHasEstadoVuelosController.pagination.pageFirstItem + 1}..#{vueloHasEstadoVuelosController.pagination.pageLastItem + 1}/#{vueloHasEstadoVuelosController.pagination.itemsCount}"/>&nbsp;
          <h:commandLink action="#{vueloHasEstadoVuelosController.previous}" value="#{bundle.Previous} #{vueloHasEstadoVuelosController.pagination.pageSize}" rendered="#{vueloHasEstadoVuelosController.pagination.hasPreviousPage}"/>&nbsp;
          <h:commandLink action="#{vueloHasEstadoVuelosController.next}" value="#{bundle.Next} #{vueloHasEstadoVuelosController.pagination.pageSize}" rendered="#{vueloHasEstadoVuelosController.pagination.hasNextPage}"/>&nbsp;
          <h:dataTable value="#{vueloHasEstadoVuelosController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListVueloHasEstadoVuelosTitle_id}"/>
              </f:facet>
              <h:outputText value="#{item.id}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListVueloHasEstadoVuelosTitle_tiempo}"/>
              </f:facet>
              <h:outputText value="#{item.tiempo}">
                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
              </h:outputText>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListVueloHasEstadoVuelosTitle_estadoVuelosId}"/>
              </f:facet>
              <h:outputText value="#{item.estadoVuelosId}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListVueloHasEstadoVuelosTitle_vueloNroRef}"/>
              </f:facet>
              <h:outputText value="#{item.vueloNroRef}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="&nbsp;"/>
              </f:facet>
              <h:commandLink action="#{vueloHasEstadoVuelosController.prepareView}" value="#{bundle.ListVueloHasEstadoVuelosViewLink}"/>
              <h:outputText value=" "/>
              <h:commandLink action="#{vueloHasEstadoVuelosController.prepareEdit}" value="#{bundle.ListVueloHasEstadoVuelosEditLink}"/>
              <h:outputText value=" "/>
              <h:commandLink action="#{vueloHasEstadoVuelosController.destroy}" value="#{bundle.ListVueloHasEstadoVuelosDestroyLink}"/>
            </h:column>
          </h:dataTable>
        </h:panelGroup>
        <br />
        <h:commandLink action="#{vueloHasEstadoVuelosController.prepareCreate}" value="#{bundle.ListVueloHasEstadoVuelosCreateLink}"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.ListVueloHasEstadoVuelosIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
