<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.ViewVueloHasEstadoVuelosTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputText value="#{bundle.ViewVueloHasEstadoVuelosLabel_id}"/>
          <h:outputText value="#{vueloHasEstadoVuelosController.selected.id}" title="#{bundle.ViewVueloHasEstadoVuelosTitle_id}"/>
          <h:outputText value="#{bundle.ViewVueloHasEstadoVuelosLabel_tiempo}"/>
          <h:outputText value="#{vueloHasEstadoVuelosController.selected.tiempo}" title="#{bundle.ViewVueloHasEstadoVuelosTitle_tiempo}">
            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
          </h:outputText>
          <h:outputText value="#{bundle.ViewVueloHasEstadoVuelosLabel_estadoVuelosId}"/>
          <h:outputText value="#{vueloHasEstadoVuelosController.selected.estadoVuelosId}" title="#{bundle.ViewVueloHasEstadoVuelosTitle_estadoVuelosId}"/>
          <h:outputText value="#{bundle.ViewVueloHasEstadoVuelosLabel_vueloNroRef}"/>
          <h:outputText value="#{vueloHasEstadoVuelosController.selected.vueloNroRef}" title="#{bundle.ViewVueloHasEstadoVuelosTitle_vueloNroRef}"/>
        </h:panelGrid>
        <br />
        <h:commandLink action="#{vueloHasEstadoVuelosController.destroyAndView}" value="#{bundle.ViewVueloHasEstadoVuelosDestroyLink}"/>
        <br />
        <br />
        <h:link outcome="Edit" value="#{bundle.ViewVueloHasEstadoVuelosEditLink}"/>
        <br />
        <h:commandLink action="#{vueloHasEstadoVuelosController.prepareCreate}" value="#{bundle.ViewVueloHasEstadoVuelosCreateLink}" />
        <br />
        <h:commandLink action="#{vueloHasEstadoVuelosController.prepareList}" value="#{bundle.ViewVueloHasEstadoVuelosShowAllLink}"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.ViewVueloHasEstadoVuelosIndexLink}"/>

      </h:form>
    </ui:define>
  </ui:composition>

</html>
