<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.CreateVueloHasTarifaTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputLabel value="#{bundle.CreateVueloHasTarifaLabel_vueloHasTarifaPK_id}" for="vueloHasTarifaPK_id" />
          <h:inputText id="vueloHasTarifaPK_id" value="#{vueloHasTarifaController.selected.vueloHasTarifaPK.id}" title="#{bundle.CreateVueloHasTarifaTitle_vueloHasTarifaPK_id}" required="true" requiredMessage="#{bundle.CreateVueloHasTarifaRequiredMessage_vueloHasTarifaPK_id}"/>
          <h:outputLabel value="#{bundle.CreateVueloHasTarifaLabel_registro}" for="registro" />
          <h:inputText id="registro" value="#{vueloHasTarifaController.selected.registro}" title="#{bundle.CreateVueloHasTarifaTitle_registro}" required="true" requiredMessage="#{bundle.CreateVueloHasTarifaRequiredMessage_registro}">
            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
          </h:inputText>
          <h:outputLabel value="#{bundle.CreateVueloHasTarifaLabel_tarifa}" for="tarifa" />
          <h:selectOneMenu id="tarifa" value="#{vueloHasTarifaController.selected.tarifa}" title="#{bundle.CreateVueloHasTarifaTitle_tarifa}" required="true" requiredMessage="#{bundle.CreateVueloHasTarifaRequiredMessage_tarifa}">
            <f:selectItems value="#{tarifaController.itemsAvailableSelectOne}"/>
          </h:selectOneMenu>
          <h:outputLabel value="#{bundle.CreateVueloHasTarifaLabel_vuelo}" for="vuelo" />
          <h:selectOneMenu id="vuelo" value="#{vueloHasTarifaController.selected.vuelo}" title="#{bundle.CreateVueloHasTarifaTitle_vuelo}" required="true" requiredMessage="#{bundle.CreateVueloHasTarifaRequiredMessage_vuelo}">
            <f:selectItems value="#{vueloController.itemsAvailableSelectOne}"/>
          </h:selectOneMenu>
        </h:panelGrid>
        <br />
        <h:commandLink action="#{vueloHasTarifaController.create}" value="#{bundle.CreateVueloHasTarifaSaveLink}" />
        <br />
        <br />
        <h:commandLink action="#{vueloHasTarifaController.prepareList}" value="#{bundle.CreateVueloHasTarifaShowAllLink}" immediate="true"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.CreateVueloHasTarifaIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
