<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.ListVueloHasTarifaTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:form styleClass="jsfcrud_list_form">
        <h:panelGroup id="messagePanel" layout="block">
          <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
        </h:panelGroup>
        <h:outputText escape="false" value="#{bundle.ListVueloHasTarifaEmpty}" rendered="#{vueloHasTarifaController.items.rowCount == 0}"/>
        <h:panelGroup rendered="#{vueloHasTarifaController.items.rowCount > 0}">
          <h:outputText value="#{vueloHasTarifaController.pagination.pageFirstItem + 1}..#{vueloHasTarifaController.pagination.pageLastItem + 1}/#{vueloHasTarifaController.pagination.itemsCount}"/>&nbsp;
          <h:commandLink action="#{vueloHasTarifaController.previous}" value="#{bundle.Previous} #{vueloHasTarifaController.pagination.pageSize}" rendered="#{vueloHasTarifaController.pagination.hasPreviousPage}"/>&nbsp;
          <h:commandLink action="#{vueloHasTarifaController.next}" value="#{bundle.Next} #{vueloHasTarifaController.pagination.pageSize}" rendered="#{vueloHasTarifaController.pagination.hasNextPage}"/>&nbsp;
          <h:dataTable value="#{vueloHasTarifaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListVueloHasTarifaTitle_vueloHasTarifaPK_id}"/>
              </f:facet>
              <h:outputText value="#{item.vueloHasTarifaPK.id}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListVueloHasTarifaTitle_registro}"/>
              </f:facet>
              <h:outputText value="#{item.registro}">
                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
              </h:outputText>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListVueloHasTarifaTitle_tarifa}"/>
              </f:facet>
              <h:outputText value="#{item.tarifa}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListVueloHasTarifaTitle_vuelo}"/>
              </f:facet>
              <h:outputText value="#{item.vuelo}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="&nbsp;"/>
              </f:facet>
              <h:commandLink action="#{vueloHasTarifaController.prepareView}" value="#{bundle.ListVueloHasTarifaViewLink}"/>
              <h:outputText value=" "/>
              <h:commandLink action="#{vueloHasTarifaController.prepareEdit}" value="#{bundle.ListVueloHasTarifaEditLink}"/>
              <h:outputText value=" "/>
              <h:commandLink action="#{vueloHasTarifaController.destroy}" value="#{bundle.ListVueloHasTarifaDestroyLink}"/>
            </h:column>
          </h:dataTable>
        </h:panelGroup>
        <br />
        <h:commandLink action="#{vueloHasTarifaController.prepareCreate}" value="#{bundle.ListVueloHasTarifaCreateLink}"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.ListVueloHasTarifaIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
