<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.ViewVueloHasTarifaTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputText value="#{bundle.ViewVueloHasTarifaLabel_vueloHasTarifaPK_id}"/>
          <h:outputText value="#{vueloHasTarifaController.selected.vueloHasTarifaPK.id}" title="#{bundle.ViewVueloHasTarifaTitle_vueloHasTarifaPK_id}"/>
          <h:outputText value="#{bundle.ViewVueloHasTarifaLabel_registro}"/>
          <h:outputText value="#{vueloHasTarifaController.selected.registro}" title="#{bundle.ViewVueloHasTarifaTitle_registro}">
            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
          </h:outputText>
          <h:outputText value="#{bundle.ViewVueloHasTarifaLabel_tarifa}"/>
          <h:outputText value="#{vueloHasTarifaController.selected.tarifa}" title="#{bundle.ViewVueloHasTarifaTitle_tarifa}"/>
          <h:outputText value="#{bundle.ViewVueloHasTarifaLabel_vuelo}"/>
          <h:outputText value="#{vueloHasTarifaController.selected.vuelo}" title="#{bundle.ViewVueloHasTarifaTitle_vuelo}"/>
        </h:panelGrid>
        <br />
        <h:commandLink action="#{vueloHasTarifaController.destroyAndView}" value="#{bundle.ViewVueloHasTarifaDestroyLink}"/>
        <br />
        <br />
        <h:link outcome="Edit" value="#{bundle.ViewVueloHasTarifaEditLink}"/>
        <br />
        <h:commandLink action="#{vueloHasTarifaController.prepareCreate}" value="#{bundle.ViewVueloHasTarifaCreateLink}" />
        <br />
        <h:commandLink action="#{vueloHasTarifaController.prepareList}" value="#{bundle.ViewVueloHasTarifaShowAllLink}"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.ViewVueloHasTarifaIndexLink}"/>

      </h:form>
    </ui:define>
  </ui:composition>

</html>
